canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  z-index: 1;
  font-family: "Cormorant", serif;
  font-weight: 400;
}

body {
  color: white;
  background-color: rgb(255, 255, 255);
}

.nav {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 30px;
}

.nav a {
  margin-left: 15px;
  font-size: 18px;
  color: white;
}

.header-image {
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.header-image img {
  display: flex;
  justify-content: center;
  width: 30%;
}

h1 {
  margin-top: 8%;
  font-size: 80px;
  text-align: center;
}

.author-block {
  position: absolute;
  left: 50%;
  width: 40%;
  text-align: left;
}

h2 {
  margin-bottom: 30px;
  font-size: 27px;
  color: rgb(255, 255, 59);
}

p {
  margin-top: 20px;
  font-size: 18px;
  width: 70%;
}

a {
  color: white;
}

a:hover {
  color: rgba(250, 100, 50);
}

@media all and (orientation: portrait) {
  .nav {
    margin-top: 10%;
  }

  .nav a {
    top: 10em;
    margin-left: 6em;
    font-size: 25px;
    color: white;
  }

  .header-image img {
    margin-top: 3em;
    width: 70%;
    height: 100%;
  }

  .author-block {
    left: 3em;
    width: 100%;
  }

  h1 {
    font-size: 50px;
  }
}
