canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  z-index: 0;
  background: black;
  margin: 0px;
  font-weight: bold;
  font-family: "Cormorant", serif;
  /* background: rgb(23, 80, 172);
  background: linear-gradient(
    rgba(23, 80, 172, 1) 0%,
    rgba(84, 148, 218, 1) 100%
  ); */
}

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  padding: 0px 50px 0px 50px;
    /* flex-wrap: wrap; */
}

.nav a {
  display: flex;
  justify-content: center;
}

.text {
  z-index: 2;
  color: white;
  font-family: "Cormorant", serif;
  font-weight: 600;
  text-transform: uppercase;
  width: 15%;
}

.sentence {
  z-index: 2;
  color: white;
  font-family: "Cormorant", serif;
  font-weight: 600;
  text-transform: uppercase;
  width: 15%;
}


.credit-container {
  z-index: 2;
  display: flex;
}

.credit {
  z-index: 2;
  display: flex;
  color: white;
  font-family: "Cormorant", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 8px;
  margin-left: 90%;
}

.header-image img {
  z-index: 2;
  width: 25%;
  /* margin-left: -15%; */
}

.video-container {
  display: flex;
  justify-content: center;
}

#video {
  z-index: 1;
  object-position: 50% 0%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.button {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 40%;
}

#random-button {
  z-index: 2;
  font-family: "Cormorant", serif;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  border-radius: 25px;
  width: 60%;
  padding: 10px;
  margin-bottom: 10%;
}

#random-button:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

#unmute {
  z-index: 2;
  margin-left: 1em;
  height: 45px;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: transparent;
}

#unmute:hover {
  background-color: white;
}

#mute-image {
  padding: 0px;
}

@media all and (max-width: 700px) {
  .header-image img {
    width: 40%;
    margin-left: -5%;
  }
}

@media all and (orientation: portrait) {
  .nav {
    margin-top: 35%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-left: 1em;
  }

  #video {
    z-index: 0;
    object-position: 50% 100%;
  }

  .text {
    width: 70%;
    margin-left: -10%;
    text-align: center;
  }

  .sentence {
    width: 80%;
    margin-left: -10%;
    text-align: center;
  }

  .credit {
    margin-left: 38%;
    margin-top: 5%;
    width: 50%;
  }

.header-image img {
    /* position: fixed; */
    margin-top: -9em;
    width: 90%;
    height: 100%;
  }

  .button {
    margin-top: 45%;
    margin-left: 28%;
    flex-direction: column-reverse;
    justify-content: center;
  }


  #unmute {
    text-align: center;
    margin-left: 23%;
    margin-bottom: 5%;
    width: 15%;
  }